.jselect {
    background-color: aqua;
    width: inherit;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0px 10px;
    border: 0;
    cursor: pointer;
}

.jselect:hover {
    background-color: red;
}

.jselect__current {
    display: flex;
    align-items: center;
}