.jselect {
    background-color: aqua;
    width: inherit;
    height: inherit;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 0px 10px;
    border: 0;
    cursor: pointer;
}

.jselect__option {
    appearance: none
}