.App {

    background-color: rgb(104, 164, 216);
    height: 100vh;
    --background: #ff5d3a;
    --background-light: #ffaf9e;
    --text: #590dff;
    --text-light: #9667fc;
    padding: 20px;
}

.App_Line {
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
}

.JSelectContainer-1 {
    background-color: #f0da9e;
    width: 200px;
    height: 40px;
    color: white;
}

.JSelectContainer-2 {
    background-color: #f0da9e;
    font-size: 27px;
    width: 200px;
    height: 70px;
}

.JSelectContainer-3 {
    background-color: #f0da9e;
    width: 200px;
    height: 90px;
}